.gender_graph {
    width: 400px;
    height: 400px; 
}

.age_graph {
    width: 400px;
    height: 400px; 
}

.department_graph {
    width: 400px;
    height: 400px; 
}

.rank_graph {
    width: 400px;
    height: 400px; 
}

.topic_label_graph {
    width: 400px;
    height: 400px; 
}