{% extends "base.html" %}

{% load static %}

{% block content %}
<style>

</style>

<link rel="stylesheet" href="{% static 'css/myp_survey.css' %}">

<h1>대화 내역 및 분석결과</h1>
<button class="back_button" onclick="window.history.back();">&lt</button>
<div class="content-container">
    <div class="box-container">
        <div class="box_menu">
             {% for persona in personas %}
                <div id="simulation{{ forloop.counter }}" class="menu-item" onclick="changePage({{ forloop.counter }})">코칭 시뮬레이션 {{ forloop.counter }}</div>
             {% endfor %}
        </div>
        
        <div class="box_result1">
            {% for persona in personas %}
                <div id="page{{ persona.id }}" style="display: none;">
                    <h2 class="talk-info-header">{{ persona.department }} - 경력{{ persona.career }}년차 - {{ persona.rank }}</h2>
                    <div class="talk-info">
                        {% for message in messages %}
                            {% if message.persona.id == persona.id %}
                                <div class="container">
                                    <div class="coaching {% if forloop.last %}no-dashed{% endif %}">
                                        {{ message.name }} - {{ message.content }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="button-container">
                        <button class="talk-info-button">설문 결과 확인하기</button>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="box_result2">
            <h2 class="analysis-header">대화 분석 결과</h2>
            <h3 class="analysis-info-header">GROW 결과</h3>
            <div class="grow-info">
                grow 이 분석이 들어올 자리
            </div>
            <h3 class="analysis-info-header">코칭 요인 분석</h3>
            <div class="coaching-info">
                코칭 요인 분석이 들어올 자리
            </div>
            <div class="coaching-info-text">
                "" 님의 코칭 분석 결과.
            </div>
        </div>
    </div>
</div>



<script>
    function changePage(page) {
        const pages = document.querySelectorAll('.box_result1 > div');
        const menus = document.querySelectorAll('.box_menu > div');

        pages.forEach(page => {
            page.style.display = 'none';
        });
        menus.forEach(menu => {
            menu.classList.remove('selected');
        });

        const currentPage = document.getElementById(`page${page}`);
        const currentMenu = document.querySelector(`.box_menu > div[onclick="changePage(${page})"]`);

        currentPage.style.display = 'block';
        currentMenu.classList.add('selected');
    }

    window.onload = function() {
        changePage(1); // 페이지 1부터 표시하도록 변경
    }
</script>
{% endblock %}
