{% extends "base.html" %}

{% load static %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0"></script>
<script src="{% static 'css/myp.js' %}"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/myp_survey.css' %}">

<!-- 메인 화면 -->
<h1>대화 내역 및 분석결과</h1>
<button class="back_button" onclick="window.history.back();">&lt</button>
<div class="content-container">
    <div class="box-container">
        <div class="box_menu">
             {% for persona in personas %}
                <div id="simulation{{ forloop.counter }}" class="menu-item" onclick="changePage({{ forloop.counter }}, {{persona.id}})">코칭 대화 {{ forloop.counter }}</div>
             {% endfor %}
        </div>
        
        <div class="box_result1">
            {% for persona in personas %}
                <!-- 모달 -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">설문 요청</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                                {% if persona.shared %}
                                <form action="{% url 'mypage:stop_sharing' persona.id %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="persona_id" value="{{ persona.id }}">
                                    <button type="submit">공유 중지</button>
                                </form>
                                {% else %}
                                <form action="{% url 'mypage:share_persona' persona.id %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="persona_id" value="{{ persona.id }}">
                                    <input type="text" name="title" placeholder="제목">
                                    <textarea name="content" placeholder="내용"></textarea>
                                    <button type="submit">공유 시작</button>
                                </form>
                                {% endif %}
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        {% comment %} <button type="button" class="btn btn-primary">Save changes</button> {% endcomment %}
                        </div>
                    </div>
                    </div>
                </div>
                <div id="page{{ persona.id }}" style="display: none;">
                    <div class="box_result1_title">
                        <div class="talk-info-header">{{ persona.department }} - 경력{{ persona.career }}년차 - {{ persona.rank }}</div>
                        <button class="signup_content_detail_person_info_btn" type="button" id="add_feed" data-toggle="modal" data-target="#exampleModal"> 설문요청하기 </button>        
                    </div>
                    <div class="talk-info">
                        {% for message in messages %}
                            {% if message.persona.id == persona.id %}
                                <div class="container">
                                    <div class="coaching {% if forloop.last %}no-dashed{% endif %}">
                                        {{ message.name }} - {{ message.content }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="button-container">
                        <button class="talk-info-button">설문 결과 확인하기</button>
                    </div>
                    {% if persona.shared %}
                        <form action="{% url 'mypage:stop_sharing' persona.id %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="persona_id" value="{{ persona.id }}">
                            <button type="submit">공유 중지</button>
                        </form>
                    {% else %}
                        <form action="{% url 'mypage:share_persona' persona.id %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="persona_id" value="{{ persona.id }}">
                            <input type="text" name="title" placeholder="제목">
                            <textarea name="content" placeholder="내용"></textarea>
                            <button type="submit">공유 시작</button>
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div class="box_result2">
            <h2 class="analysis-header">대화 분석 결과</h2>
            <h3 class="analysis-info-header">GROW 결과</h3>
            <div class="grow-info">
                <div class = "g_b_c">
                    <canvas id = "grow_bar_chart" class = "grow_bar_chart"></canvas>
                </div>
            </div>
            <h3 class="analysis-info-header">코칭 요인 분석</h3>
            <div class="coaching-info">
                <canvas id = "coaching_chart_analysis" class = "coaching_chart_analysis"></canvas>
            </div>
            <div id = "analysis_chat" class="coaching-info-text">
            </div>
        </div>
    </div>
</div>
<script>
    $.ajaxSetup({
        headers: { "X-CSRFToken": '{{csrf_token}}' }
    });
    
    function changePage(page, p_id) {

        const pages = document.querySelectorAll('.box_result1 > div');
        const menus = document.querySelectorAll('.box_menu > div');

        pages.forEach(page => {
            page.style.display = 'none';
        });
        menus.forEach(menu => {
            menu.classList.remove('selected');
        });

        const currentPage = document.getElementById(`page${page}`);
        const currentMenu = document.querySelector(`.box_menu > div[onclick="changePage(${page})"]`);

        currentPage.style.display = 'block';
        //currentMenu.classList.add('selected');

        console.log(p_id + "     ////123123123123123123")
         $.ajax({
                url: "/mypage/graph_draw/",
                type: "POST",
                data: {
                    message: p_id
                },
                success: function(response) {

                    var previousChart = Chart.getChart('grow_bar_chart');
                    if (previousChart) {
                        previousChart.destroy();
                    }
                    var context = document.getElementById('grow_bar_chart').getContext('2d');
                    // Parse the JSON data
                    console.log(p_id + "     ////123123123123123123     //   " + response)
                    var lineChartDataElement = JSON.parse(response.grow);
                    var growdayLabels = lineChartDataElement.map(item => item.name);
                    var growdayData = lineChartDataElement.map(item => item.value);
                  
                    var myChart = new Chart(context, {
                      type: 'bar',
                      data: {
                        labels: growdayLabels,  // Use the extracted labels
                        datasets: [{
                          fill: false,
                          data: growdayData,  // Use the extracted values
                          backgroundColor: [
                            'rgba(145, 211, 139, 1)',
                            'rgba(255, 227, 155, 1)',
                            'rgba(180, 232, 255, 1)',
                            'rgba(220, 170, 237, 1)',
                            'rgba(217, 217, 217, 1)',
                          ],
                          borderWidth: 1
                        }]
                      },
                      options: {
                        indexAxis: 'x',  // Change this to 'x'
                        scales: {
                          y: {
                            beginAtZero: true,
                            ticks: {
                                precision: 0, // 소수점 이하 자릿수를 0으로 설정하여 정수로 표시
                                callback: function(value, index, values) {
                                    if (Math.floor(value) === value) {
                                        return value;
                                    }
                                }
                            },
                            autoSkip: true, // 데이터에 맞게 눈금 간격 자동 조정
                            maxTicksLimit: 10 // 최대 눈금 개수 제한 (원하는 값으로 조정)
                        }
                        },
                        plugins: {
                          legend: {
                              display: false
                          },
                          title: {
                              display: false,
                              text: 'GROW 코칭 결과'
                          }
                        }
                      }
                    });

                    var previousChart2 = Chart.getChart('coaching_chart_analysis');
                    if (previousChart2) {
                        previousChart2.destroy();
                    }
                    var ctx = document.getElementById('coaching_chart_analysis').getContext('2d');
                    console.log("123123123")
                    var pieChartDataElement = JSON.parse(response.class);
                    console.log("123123123444444")
                    var labels = pieChartDataElement.map(item => item.name);
                    var data = pieChartDataElement.map(item => item.value);
                    
                
                    var myPieChart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            labels: labels,
                            datasets: [{
                                data: data,
                                backgroundColor: [
                                    'rgba(143, 170, 220, 1)',
                                    'rgba(244, 177, 131, 1)',
                                    'rgba(169, 209, 142, 1)',
                                    'rgba(255, 217, 102, 1)',
                                    'rgba(250, 166, 178, 1)',
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            responsive: true,
                            maintainAspectRatio: false,
                            plugins: {
                                legend: {
                                    display: true,
                                    position: 'top',
                                    labels: {
                                        boxWidth: 10, // 원하는 크기로 조절
                                        font: {
                                            size: 12, // 원하는 폰트 크기로 조절
                                        },
                                    },
                                },
                                datalabels: {
                                    formatter: (value, ctx) => {
                                        let sum = 0;
                                        let dataArr = ctx.chart.data.datasets[0].data;
                                        dataArr.map(data => {
                                            sum += data;
                                        });
                                        let percentage = (value*100 / sum).toFixed(2)+"%";
                                        return percentage;
                                    },
                                    color: '#fff',
                                }
                            }
                        }
                    });
                    var chatContainer = $('#analysis_chat');
                    chatContainer.empty();
                    chatContainer.append(
                        '<span class = "abc">{{ user.username }} 님의 코칭 분석 결과.</span><br><br>'
                        + '<span class = "abc">(인정) 대화상대를 믿고 의지를 다질 수 있도록 하는 유형의 질문을 </span>'
                        + response.recognition
                        + "<span class = 'abc'> 하신 것으로 나타납니다. 대화상대가 스스로 해결할 능력을 가지고 있다고 믿을 수 있도록 질문을 유도하는 것은 코칭 대화에서 중요한 요소입니다.<br><br></span>"
                        + '<span class = "abc">(존중) 대화상대를 존중하는 유형의 질문을 </span>'
                        + response.respect
                        + "<span class = 'abc'> 하신 것으로 나타납니다. 대화상대의 동의를 구하며 심리적으로 지지하고 도움을 주는 것은 코칭 대화에서 중요한 요소입니다.<br><br></span>"
                        + "<span class = 'abc'>(관점전환) 대화상대가 기존과 다른 관점에서 해결책을 찾도록 돕는 유형의 질문을 </span>"
                        + response.perspective
                        + "<span class = 'abc'>  하신 것으로 나타납니다. 대화상대가 스스로 해결책을 찾을 수 있도록 질문을 유도하는 것은 코칭 대화에서 중요한 요소입니다.<br><br></span>"
                        + "<span class = 'abc'>(판단) 대화상대를 판단하는 유형의 질문을 </span>"
                        + response.judgment
                        + "<span class = 'abc'> 하신 것으로 나타납니다. 대화상대가 자율성을 가질 수 있도록 개인의 의견이 들어간 질문보다 개방적인 질문을 통해 대화상대가 스스로 해결 방안을 찾을 수 있도록 유도하는 것은 중요한 요소입니다.<br><br></span>"
                        + "<span class = 'abc'>(부정) 대화상대를 부정하는 유형의 질문을 </span>"
                        + response.negation
                        + "<span class = 'abc'> 하신 것으로 나타납니다. 대화상대가 부정적으로 느껴지지 않도록 부정적인 질문보다 긍정적인 질문을 통해 대화의 분위기를 긍정적으로 유도하는 것은 중요한 요소입니다.<br></span>"
                        );

                },
                error: function(xhr, errmsg, err) {
                    console.log(errmsg);
                }
         });
    }

    window.onload = function() {
        const hasMessages = {% if messages %}true{% else %}false{% endif %};
        
        if (!hasMessages) {
            window.alert("대화한 내역이 없습니다.");
            window.location.href = "/rpg"; // 페르소나 페이지로 이동합니다.
        } else {
            changePage(1, 1); // 페이지 1부터 표시하도록 변경
        }
    }

</script>

{% endblock %}
