{% extends "base.html" %}
{% load static %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'home.js' %}" defer></script>
<link rel="stylesheet" href="{% static 'home.css' %}">

<div id="user-data" data-user-is-authenticated="{{ user.is_authenticated }}"></div>

<div class="home">
    <section class="jumbotron">
        <div class="container">
            <h1 class="jumbotron_ani" style="animation-delay: 0s;">환영합니다.</h1>
            <h1 class="jumbotron_ani" style="animation-delay: 1s;">KT AI 챗봇과 함께하는</h1>
            <h1 class="jumbotron_ani" style="animation-delay: 2s;">자가 코칭 훈련 서비스입니다.</h1>
            {% comment %} <a href="{% url 'rpg:persona' %}"> {% endcomment %}
                <button class="start-btn" id="startBtn"> 
                    <span class="triangle">&#9658;</span>
                    START
                </button>
            {% comment %} </a> {% endcomment %}
        </div>
        {% comment %} <div>
            <img class="home_img" src="/static/image/robot_lay.png" alt="홈사진">
        </div> {% endcomment %}
    </section>
</div>
{% endblock %}
    
{% block footer%}
{% include "footer.html" %}
{% endblock %}
