{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@latest"></script>
    <script src="{% static '/admin_page/admin_page.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'admin_page/admin_page.css' %}">
</head>
<body>
    <h1>Admin Page</h1>

    <div class="gender_graph">
        <canvas id="gender_Chart"></canvas>
    </div>

    <script id="gender_counts" type="application/json">
        {{ gender_counts | safe }}
    </script>
</body>
</html>
