{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0/dist/chart.min.js"></script>
    <script src="{% static '/admin_page/admin_persona.js' %}" defer></script>
    <link rel="stylesheet" href="{% static '/admin_page/admin_persona.css' %}">
</head>

<body>
    <h1>Admin Page</h1>

    <div class="gender_graph">
        <canvas id="gender_Chart"></canvas>
    </div>
    <script id="gender_counts" type="application/json">
        {{ gender_counts | safe }}
    </script>

    <div class="age_graph">
        <canvas id="age_Chart"></canvas>
    </div>
    <script id="age_counts" type="application/json">
        {{ age_counts | safe }}
    </script>
    <div class="rank_graph">
        <canvas id="rank_Chart"></canvas>
    </div>
    <script id="rank_counts" type="application/json">
        {{ rank_counts | safe }}
    </script>
    
    <div class="department_graph">
        <canvas id="department_Chart"></canvas>
    </div>
    <script id="department_counts" type="application/json">
        {{ department_counts | safe }}
    </script>
    
    <a class="go_page"href="{% url 'admin_page:admin_page' %}">페르소나 통계 페이지로 가기</a>
</body>
</html>
