{% extends "base.html" %}
{% load static %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'account/signup.js' %}" defer></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'account/signup.css' %}">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">개인 정보 처리 방침</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
                개인정보 처리 방침
                <br>
                서문<br>
                은 개인정보 보호법 제30조에 따라 정보주체의 개인정보를 보호하고 이와 관련한 고충을 신속하고 원활하게 처리할 수 있도록 하기 위하여 다음과 같이 개인정보 처리방침을 수립·공개합니다.
                <br>
                제1조(개인정보의 처리목적)<br>
                은 다음의 목적을 위하여 개인정보를 처리합니다. 처리하고 있는 개인정보는 다음의 목적 이외의 용도로는 이용되지 않으며, 이용 목적이 변경되는 경우에는 개인정보 보호법 제18조에 따라 별도의 동의를 받는 등 필요한 조치를 이행할 예정입니다.
                홈페이지 회원 가입 및 관리
                <br>
                서비스 제공
                <br>
                해당 개인정보처리자의 개인정보 처리업무
                <br>
                개인정보 처리 및 보유 기간
                <br>
                개인정보의 제3자 제공에 관한 사항
                <br>
                개인정보의 파기절차 및 파기방법
                <br>
                개인정보처리의 위탁에 관한 사항
                <br>
                정보주체와 법정대리인의 권리·의무 및 그 행사방법에 관한 사항
                <br>
                개인정보 보호책임자의 성명 또는 개인정보 보호업무 및 관련 고층사항을 처리하는 부서의 명칭과 전화번호 등 연락처
                <br>
                인터넷 접속정보 파일 등 개인정보를 자동으로 수집하는 장치의 설치·운영 및 그 거부에 관한 사항
                <br>
                처리하는 개인정보의 항목
                <br>
                개인정보의 안전성 확보조치에 관한 사항
                <br>
                개인정보 처리방침의 변경에 관한 사항
                <br>
                개인정보의 열람청구를 접수·처리하는 부서
                <br>
                정보주체의 권익침해에 대한 구제방법
                <br>
                가명정보를 처리하는 경우 가명정보 처리에 관한 사항
                <br>
                가명정보의 처리 목적<br>
                가명정보의 처리 및 보유 기간<br>
                가명정보의 제3자 제공에 관한 사항<br>
                가명정보 처리의 위탁에 관한 사항<br>
                가명처리하는 개인정보의 항목<br>
                국내대리인을 지정한 경우 국내대리인의 성명, 주소, 전화번호 및 전자우편 주소<br>
                추가적인 이용·제공 관련 영 제14조의2 제1항 각 호의 고려사항에 대한 판단기준<br>
                영상정보처리기기 운영·관리에 관한 사항<br>
                그 밖에 개인정보처리자가 개인정보 처리 기준 및 보호조치 등에 관하여 자율적으로 개인정보 처리방침에 포함하여 정한 사항<br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  {% comment %} kt Coaching에는 hover 지우고 헤더에 밑줄 제거  {% endcomment %}
  <style>
  
    .logo-link:hover {
      color: inherit;
      text-decoration: none;
    }

    .menu-header:hover {
      cursor: pointer;
      color: #00365f;
      text-decoration: none;
    }
  </style>

  <form method="post">
    {% csrf_token %}
    {% if error_message %}
        <div class="error-message">
          {{ error_message }}
        </div>
    {% endif %}

    <div class="signup_wrapper">
        <div class="signup_content_wrapper">
            <div class="signup_content_wrapper_layout">
                <div class="signup_content_title">회원가입</div>
                <div class="signup_content_detail">
                    <div class="signup_content_detail_input_wrapper">
                        <input class="signup_content_detail_input" placeholder="아이디를 입력해 주세요." type="text" name="userid" id="userid" required />
                        <input type="hidden" name="hidden_userid" id="hidden_userid" />
                        <div class="signup_error_message" id="userid-error"></div>
                        <div class="signup_content_detail_duplicate">
                            <button class="signup_duplicate_btn" type="button" id="id_duplicate_btn">중복확인</button>
                            <div id="duplicate-message"></div>
                        </div>

                        <input class="signup_content_detail_input" placeholder="비밀번호를 입력해 주세요." type="password" name="password1" id="password1" required/>
                        <div class="signup_error_message" id="password1-error"></div>

                        <input class="signup_content_detail_input" placeholder="비밀번호를 다시 입력해 주세요." type="password" name="password2" id="password2" required/>
                        <div class="signup_error_message" id="password2-error"></div>

                        <input class="signup_content_detail_input" placeholder="이메일을 입력해 주세요." type="email" name="email" id="email" required />
                        <input type="hidden" name="hidden_email" id="hidden_email" />
                        <div class="signup_error_message" id="email-error"></div>
                        <div class="signup_content_detail_duplicate">
                            <button class="signup_duplicate_btn" type="button" id="email_duplicate_btn">중복확인</button>
                            <div id="email-duplicate-message"></div>
                        </div>

                        <input class="signup_content_detail_input" placeholder="이름을 입력해 주세요." type="text" name="username" id="username" required/>
                        <div class="signup_error_message" id="username-error"></div>
                        
                        <input class="signup_content_detail_input" placeholder="닉네임을 입력해 주세요." type="text" name="nickname" id="nickname" required/>
                        <input type="hidden" name="hidden_nickname" id="hidden_nickname" />
                        <div class="signup_error_message" id="nickname-error"></div>
                        <div class="signup_content_detail_duplicate">
                            <button class="signup_duplicate_btn" type="button" id="nickname_duplicate_btn">중복확인</button>
                            <div id="nickname-duplicate-message"></div>
                        </div>                          

                        <select class="signup_content_detail_job" name="job">
                            <option value="none" selected>직무를 선택하세요.</option>
                            <option value="개발">개발</option>
                            <option value="기획">기획</option>
                            <option value="마케팅">마케팅</option>
                            <option value="영업">영업</option>
                            <option value="인사">인사</option>
                        </select>

                        <div class="signup_content_detail_birth">
                            <input class="signup_content_detail_birth_box" placeholder="나이를 입력하세요." type="number" name="age" id="id_age" min="20" max="99" required>
                        </div>

                        <div class="signup_content_detail_dp">
                            <select class="signup_content_detail_job" name="department" id="department" required>
                                <option value="none" selected>부서를 선택하세요.</option>
                                <option value="개발자">IT기술</option>
                                <option value="영업부">영업/마케팅</option>
                                <option value="인사과">경영기획/지원</option>
                                <option value="RnD">R&D</option>
                            </select>
                        </div>
                      
                        <div class="signup_content_detail_dp">
                            <select class="signup_content_detail_job" name="rank" id="rank" required>
                                <option value="none" selected>직급을 선택하세요.</option>
                                <option value="인턴">인턴</option>
                                <option value="사원">사원</option>
                                <option value="주임">주임</option>
                                <option value="대리">대리</option>
                                <option value="과장">과장</option>
                                <option value="차장">차장</option>
                                <option value="부장">부장</option>
                                <option value="이사급">이사급</option>
                            </select>
                        </div>

                        <div class="signup_content_detail_gender">
                            <input type="radio" name="gender" id="gender_male" value="M" required>
                            <label for="gender_male">남성</label>
                            <input type="radio" name="gender" id="gender_female" value="F" required>
                            <label for="gender_female">여성</label>
                        </div>

                        <hr class="signup_line">
                    </div>
                    <div class="signup_content_detail_submit">
                        <label>
                            <input class="signup_content_detail_person_info" type="checkbox" name="person_info" value="person_info" required> 개인정보 수집 및 이용 동의(필수)
                            <button class="signup_content_detail_person_info_btn" type="button" id="add_feed" data-toggle="modal" data-target="#exampleModal">내용보기</button>
                        </label>
                        <div class="signup_content_detail_submit_btn_wrapper">
                            <button class="signup_content_detail_submit_btn" id="signup_btn" type="submit">가입하기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}  